body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 60px; /* Увеличен padding */
    transition: background-color 0.5s ease-in-out;
}

.weather-app {
    max-width: 600px; /* Увеличена максимальная ширина */
    margin: 0 auto;
    animation: fadeIn 1s ease-in-out;
}

input, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

input {
    width: 70%;
}

button {
    background-color: #ff9800;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e68900;
}

.hidden {
    display: none;
}

#weatherCard {
    margin-top: 20px;
}

.weather-info p {
    margin: 5px 0;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

#rainMap {
    margin-top: 20px;
}

#clockContainer {
    margin-top: 20px;
}

.forecast-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.forecast-date {
    flex: 1;
}

.forecast-icon {
    width: 50px;
    height: 50px;
}

.forecast-temp {
    flex: 1;
}

.forecast-description {
    flex: 2;
}

#extendedForecast {
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
